/* Author: Sean Sumida & Bryson Yuen
  CSS for invoice */

body {
  /* Background */
  background: url("../images/background.jpg") ivory;
  font-family:"Times New Roman", Times, serif;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

/* Button Styling */
.button {
  background-color: #6c706c;
  border: none;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Button styling */
.btn{
  background-color: #3edfdf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 30%;
  margin-right: 30%;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

td{
  text-align: center;
}

/* Border for table*/
#invoiceTable, th, td{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.shippingInfo{
  text-align: center;
}

