/* Author: Sean Sumida & Bryson Yuen
  CSS for nav bar */

/* Makes navbar stay in place when scrolling */
li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    font-size: 18pt;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;   
}

li a:hover {
    background-color: pink;
}

ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    background-color: #78a2cc;
    position: sticky; 
    top: 0;
    font-family:"Times New Roman", Times, serif;
    z-index: 2;
}

/* Styling the products in the sub nav bar */
.nav_items{
    display: inline-block;
    color: white;
    font-size: 18pt;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    overflow: hidden;
    position: relative; 
    background-color: #78a2cc;
    list-style-type: none;
    font-family:"Times New Roman", Times, serif;
    margin: auto;
    z-index: 1;
}

.nav_items a:link{
    color:#272D2D;
    text-decoration: none;
}

a:hover{
    background-color: pink;
}