/*
Author: Bryson Yuen & Sean Sumida
CSS for the navigation bar
*/

 ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  
  
  li a {
      color:honeydew;
      font-size: 18px;
      padding: 8px 16px;
      text-decoration: none;
      display: inline-block;
  }
  
  a {
      color: honeydew;
      text-decoration: none;
  }
  
  li {
      float: left;
  }
  
  li a:hover:not(.active) {
      color: #dfd9e2;
  }
  
  #nav {
      top: 217px;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #topnav_right {
    position: absolute;
    right: 10px;
    bottom: 620px;
    width: 200px;
    height: 120px;
  }