/* Sizes the body of the webpage */
body {
    width: 800px; 
    margin: 0 auto;
}

/* Standerized image sizes */
img {
    height: 200px;
    width: 200px;
}

/* Aligns the text for headers */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* Styling the products display */ 
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("images/phone_globe.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Further stylizes the div holding the products display */
div {
    border: 5px solid black;
    display: flex;
}

